/* 

  # Table of contents:
  - General
  - Animations
  - Components
  - Header
  - Portfolio
  - Skills
  - Services
  - Footer
  - Contact

*/

/* 
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- 

--General--

_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

*/

@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina+2&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

p {
  text-align: center;
}

body {
  font-family: "Baloo Bhaina 2", cursive;
}

/*
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- 

--Animations--

_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

*/

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover,
.hvr-grow-rotate:focus,
.hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

/* Skew Forward */
.hvr-skew-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-forward:hover,
.hvr-skew-forward:focus,
.hvr-skew-forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

/*
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- 

--Components--

_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

*/

.section-title {
  font-size: 32px;
  text-align: center;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.panel li {
  display: flex;
}

.accordion::after {
  content: "\f067";
  font-family: FontAwesome;
  color: #a2a2a2;
}

.accordion--open::after {
  content: "\f068";
}

.button {
  margin: 0;
  padding: 0 10px !important;
  font: inherit;
  color: #fff !important;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: #5c8ce6;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 10px;
}

.button:hover {
  background: #477cdf;
  color: white !important;
}

/* 
_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- 

--Header--

_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

*/

.header__title {
  font-weight: normal;
}

#header .image.avatar {
  width: 150px;
}

#header:before {
  z-index: 0;
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

#header * {
  z-index: 1;
  position: relative;
}

/*

_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- 

--Portfolio--

_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

*/

.portfolio-home img {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.portfolio-link {
  border: none;
}

.portfolio__name {
  text-transform: capitalize;
  margin-bottom: 0;
  text-align: center;
}

.portfolio__description {
  color: #999999;
}

.button-portfolio-container {
  flex-basis: 100% !important;
  margin-top: 40px;
  margin-bottom: 40px;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-grid > div {
  width: 100%;
}

.portfolio__img-box {
  height: 185px;
  overflow: hidden;
  margin-bottom: 16px;
}

@media (min-width: 809px) {
  .portfolio-grid {
    justify-content: space-between;
  }

  .portfolio-grid > div {
    flex-basis: 49%;
  }

  .portfolio-home img {
    filter: brightness(70%);
    border: none;
  }

  .portfolio-home img:hover {
    transition: 0.3s;
    filter: brightness(100%);
  }
}

/*

_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- 

--Skills--

_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

*/

.skills ul {
  margin: 0;
  padding: 10px 0;
}

.skills li {
  list-style: none;
}

.skills h3 {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.skills > div {
  display: flex;
  flex-wrap: wrap;
}

.skills > div > div {
  flex-basis: 100%;
}

@media (min-width: 809px) {
  .skills > div {
    justify-content: space-between;
  }

  .skills > div > div {
    flex-basis: 49%;
  }
}

/*

_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- 

--Services--

_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

*/

.services ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.services ul > li {
  flex-basis: 100%;
  text-align: center;
  padding: 0 15px;
}

.services ul > li img {
  max-width: 100%;
}

@media (min-width: 809px) {
  .services ul > li {
    flex-basis: 33%;
  }
}

/*

_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- 

--Footer--

_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

*/

#footer .icons a:hover {
  color: #5c8ce6 !important;
}

#footer .copyright li a:hover {
  color: #5c8ce6 !important;
}

#fppter ul.icons li .icon:before {
  font-size: 30px;
}

/*

_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- 

--Contact--

_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

*/

.contact .actions li {
  margin-bottom: 20px;
  padding-top: 0 !important;
  width: auto;
  margin-left: 6px;
  margin-right: 6px;
}

.contact .actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 809px) {
  .contact .actions li {
    margin: 0;
  }
}
