.skills ul {
  margin: 0;
  padding: 10px 0;
}

.skills li {
  list-style: none;
}

.skills h3 {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.skills > div {
  display: flex;
  flex-wrap: wrap;
}

.skills > div > div {
  flex-basis: 100%;
}

@media (min-width: 809px) {
  .skills > div {
    justify-content: space-between;
  }

  .skills > div > div {
    flex-basis: 49%;
  }
}
